* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font: 'Lexend Deca', sans-serif;
    --font-size-title: clamp(1.5rem, 0.9rem + 3.2vw, 2rem);
    --background: #252746;
    --card-color: #191b33;
    --main-color: #b9bbd2;
    --white: #fff;
    --cta-color: #9C75E6;
    --bad: rgb(240, 113, 40);
    --good: #21f921;
    --border-3d: 3px 3px 13px;
    --border-color: #333661;
    --shadow: 15px 15px 30px #222441,
             -15px -15px 30px #444881;  
}
body {
    font-size: var(--font);
    font-family: var(--font);
    text-wrap: pretty;
    
    color: var(--white);
    background-color: var(--background);
}
main {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100dvh;

    text-align: center;
}
.trivia__container {
    width: clamp(280px, 90%, 500px);
    padding: 40px 20px;

    border: solid var(--border-color);
    border-radius: 30px;
    border-width: var(--border-3d);

    background-color: var(--card-color);
    
    .trivia__title {
        margin-block-end: 18px;
        font-size: var(--font-size-title);
        text-wrap: balance;
    }

    .trivia__question {
        margin-block-end: 18px;
        
        font-weight: 300;
    }
}
.option__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .option__item {
        flex-basis: 80px;
        height: 30px;

        background-color: var(--main-color);
        color: var(--card-color);

        font-family: var(--font);
        font-weight: 400;

        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: transform .2s linear;
    }

    .option__item:hover {
        color: var(--white);
        background-color: var(--cta-color);
        
        transform: scale(1.1);
        transition: transform .1s linear;
    }
}
.hiden {
    display: none;
}